@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: lightblue;
    border: 1px solid rgba(0, 0, 0, 0.121);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(42, 95, 208);
    border-radius: 10px;
    }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black ;
  }